.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222;
  background-color: #faf9f9;
  text-align: center;
}

.settings {
  margin: 16px 0;
}

.settings > h4 {
  margin: 0;
}
