.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
}

.tile.visiting,
.tile.visiting.visited {
  background-color: #ff8081;
}

.tile.visited {
  background-color: #ffe5e6;
}

.tile.wall {
  background-color: #222;
}

.tile.entrance {
  background-color: #ff4d4f;
}

.tile.exit {
  background-color: #73d13d;
}

.tile .arrow {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile .arrow.south {
  transform: rotate(-90deg);
}

.tile .arrow.east {
  transform: rotate(-180deg);
}

.tile .arrow.north {
  transform: rotate(-270deg);
}
